.titulo {
	font-size: 1.8rem;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	font-size: 200%;
	width: 100%;
	table-layout:fixed;
}

tr {
	height: 45px;
}

td {
	border: 1px solid black;
	overflow: hidden;
}

td:first-child {
	border-left: solid;
	border-left-color: black;
}
td:nth-child(3n) {
	border-right: solid;
	border-right-color: black;
}
tr:first-child {
	border-top:solid;
}
tr:nth-child(3n) {
	border-bottom:solid;
}

.container {
	width: 378px;
	margin: 5px auto;
}


#messages {
	margin-top: 5px;
	width: 380px;
	font-size: 150%;
}

.givenNumber {
	color: red;
}

.solvingNumber {
	color: blue;
}

.imagem {
	width: 200px;
	margin: auto;
}